{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3">
  <!-- Title -->
  <div class='page-title'>
    <h1>About Me</h1>
  </div>

  <div class='about-me'>
    <div class='col-md-6'>
      <img class='profile-pic' src='https://avatars1.githubusercontent.com/u/14945184?v=3&u=12e17b9c018e1fd87e666acc2bde84c623456534&s=400' />
    </div>
    <p class='lead'>
      My name is Andres Gajardo.  I am currently attending CUNY Queens College and pursuing a degree in computer science.
      My dream is to become a software engineer or full stack developer.  
    </p>
  </div>

  {% endblock content %}
